body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 300px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f9f9f9;
}

input, label{
    display: block;
    margin-bottom: 10px;
}

.gender, label[for="Male"], label[for="female"]{
    display: inline;
}

button{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}


