body{
    font-family: Ariel, sans-serif;
    background: #f2f2f2;
}

.container{
    width: 300px;
    margin: 100px auto;
    background-color: rgb(244, 239, 239);
    padding: 20px;
    border-radius: 6px;
}

input{
    width: 70%;
    padding: 6px;
}

button{
    padding: 6px 10px;
    cursor: pointer;
}

li{
    list-style: none;
    margin-top: 8px;
    padding: 6px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}

ul{
    padding-left: 0px;
}


